{% load lookup %}

    <div id='{{ sort_name }}_header'>
        <title>{{ item_name }} by {{ sort_name }}</title>
    </div>

    <div id='{{ sort_name }}_context'>
        <h1>{{ item_name }} by {{ sort_name }}</h1>

        {% if items %}
        <ul>
            {% for item in items %}
                <li><a href="/watchtape/{{ url_prefix }}/{{ item.id }}/">{{ item }}</a></li>
                    {% if include_video_by_jams %}
                    <ul>
                        <li>
                        <a href="{{ include_video_by_jams.timecode_url }}">
                        {{ include_video_by_jams }}</a>

                        </li>
                    </ul>
                    {% endif %}
            {% endfor %}

        </ul>
        {% else %}
        <h2>Error {{ item_name }} has no {{ sort_name }}</h2>
        {% endif %}

    </div>
