{% load lookup %}

    <div id='{{ sort_name }}_header'>
        <title>{{ item_name }} by {{ sort_name }}</title>
    </div>

    <div id='{{ sort_name }}_context'>
        <h1>{{ item_name }} by {{ sort_name }}</h1>

        {% if items %}
        <ul>

            {% if subitems %}

                {% for item, subitems in items %}

                    <li><a href="{{ item.url }}">{{ item }}</a></li>
                    <ul>
                    {% for subitem in subitems %}
                        <li><a href="{{ subitem.url }}">{{ subitem }}</a></li>
                    {% endfor %}
                    </ul>
                {% endfor %}

            {% else %}

                {% for item in items %}
                    <li><a href="{{ item.url }}">{{ item }}</a></li>
                {% endfor %}

            {% endif %}



        </ul>
        {% else %}
        <h2>Error {{ item_name }} has no {{ sort_name }}</h2>
        {% endif %}

    </div>
