.vagrant/
*.swp
.metadata/
RemoteSystemsTempFiles/
__pycache__
*.pyc
*~
*~lock.*
~$*.xlsx
.project
.pydevproject
screendumps
.settings/
/scratchpad/
*.pem
*.ppk
/static/
*.log
*nppdf32Log*

## Project
wt-venv/
