Django==1.8
EasyProcess==0.2.2
PyVirtualDisplay==0.2
defusedxml==0.4.1
django-allauth==0.25.2
djangorestframework==3.3.3
oauthlib==1.1.2
python3-openid==3.0.10
requests==2.10.0
requests-oauthlib==0.6.1
selenium==2.53.2
xlrd==1.0.0
