<!-- roster.0 - home_jammer
     roster.1 - home_pivot
     roster.3 - home_blockers
     roster.4 - away_jammer
     roster.5 - away_pivot
     roster.6 - away_blockers -->

<ul class="fa-ul">
    {% if team == "away" %}
        {% if roster.3 %}
            <li><i class="fa-li fa fa-star fa-lg"></i>{{ roster.3 }}</li>
        {% endif %}
        {% if roster.4 %}
            <li><i class="fa-li fa fa-minus fa-lg"></i>{{ roster.4 }}</li>
        {% endif %}
        <li>{{ roster.5.0 }}</li>
        <li>{{ roster.5.1 }}</li>
        <li>{{ roster.5.2 }}</li>
        {% if roster.5.3 %}
            <li>{{ roster.5.3 }}</li>
        {% endif %}
    {% endif %}
    {% if team == "home" %}
        {% if roster.0 %}
            <li><i class="fa-li fa fa-star fa-lg"></i>{{ roster.0 }}</li>
        {% endif %}
        {% if roster.1 %}
            <li><i class="fa-li fa fa-minus fa-lg"></i>{{ roster.1 }}</li>
        {% endif %}
        <li>{{ roster.2.0 }}</li>
        <li>{{ roster.2.1 }}</li>
        <li>{{ roster.2.2  }}</li>
        {% if roster.2.3 %}
            <li>{{ roster.2.3 }}</li>
        {% endif %}
    {% endif %}
</ul>