{% load players_by_jam %}

<p class="text-center" id="jam_number">Jam Number XX</p>
<div id = "jam_carousel" class="carousel slide" data-ride="carousel"
     data-interval="false">
<div id="JamXStats">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                </div>
                {% for jam in jams_list %}
                <div class="item">
                    <div class = "row">
                        <div class = "col-xs-4">
                        <h3 class="text-center">HOME</h3>
                        {% include "video_player/jam_roster_pane.html" with team="home" %}
                        </div>
                        <div class = "col-xs-4">
                        <h1 class="text-center">{{ jam.score.home_cumulative }} - {{ jam.score.away_cumulative }} </h1>
                        <h3 class="text-center">{{ jam.score.home_jammer }}{% if jam.score.home_star_pass %}*{% endif %} - {{ jam.score.away_jammer }}{% if jam.score.away_star_pass %}*{% endif %}</h3>
                        <h4 class="text-center">({{jam.score.home_pivot}}) - ({{jam.score.away_pivot}}) </h4>
                        </div>
                        <div class = "col-xs-4">
                        <h3 class="text-center">AWAY</h3>
                        {% include "video_player/jam_roster_pane.html" with team="away"%}
                        </div>
                    </div>
                    {% comment %}
                    {% players_by_jam jam.id header_properties="hidden" %}
                    {% endcomment %}
                </div>
                {% endfor %}
            </div>
</div>