{% load players_by_jam %}

<div id="jam_number">Jam Number XX</div>
<div id = "jam_carousel" class="carousel slide" data-ride="carousel"
     data-interval="false">
<div id="JamXStats">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                </div>
                {% for jam in jams %}
                <div class="item">
                    <div class = "row">
                        <div class = "col-xs-4">
                        <h3 class="text-center">HOME</h3>
                        {% home_players_by_jam jam.id header_properties="hidden" %}
                        </div>
                        <div class = "col-xs-4">
                        
                        </div>
                        <div class = "col-xs-4">
                        <h3 class="text-center">AWAY</h3>
                        {% away_players_by_jam jam.id header_properties="hidden" %}
                        </div>
                    </div>
                    {% comment %}
                    {% players_by_jam jam.id header_properties="hidden" %}
                    {% endcomment %}
                </div>
                {% endfor %}
            </div>
</div>