<!DOCTYPE html>

<html>
    <head>
        <title> {% block title %} Watch Tape {% endblock title %} </title>
    </head>

    <body>
        <div id="header">
            {% block header_block %}Watch Tape {% endblock header_block %}
        </div>

        <div id="content">
            {% block content_block %} {% endblock content_block %}
        </div>

    <footer>
        {% block footer_block %}
        <a href="https://github.com/fullerth/WatchTape/issues/new">
        Report Bug
        </a>
        {% endblock footer_block %}
    </footer>

    </body>
</html>
