<ul class="fa-ul">
    {% if team == "away" %}
        {% if jam.roster.away_jammer %}
            <li><i class="fa-li fa fa-star fa-lg"></i>{{ jam.roster.away_jammer }}</li>
        {% endif %}
        {% if jam.roster.away_pivot %}
            <li><i class="fa-li fa fa-minus fa-lg"></i>{{ jam.roster.away_pivot }}</li>
        {% endif %}
        <li>{{ jam.roster.away_blockers.0 }}</li>
        <li>{{ jam.roster.away_blockers.1 }}</li>
        <li>{{ jam.roster.away_blockers.2 }}</li>
        {% if jam.roster.away_blockers.3 %}
            <li>{{ jam.roster.away_blockers.3 }}</li>
        {% endif %}
    {% endif %}
    {% if team == "home" %}
        {% if jam.roster.home_jammer %}
            <li><i class="fa-li fa fa-star fa-lg"></i>{{ jam.roster.home_jammer }}</li>
        {% endif %}
        {% if jam.roster.home_pivot %}
            <li><i class="fa-li fa fa-minus fa-lg"></i>{{ jam.roster.home_pivot }}</li>
        {% endif %}
        <li>{{ jam.roster.home_blockers.0 }}</li>
        <li>{{ jam.roster.home_blockers.1 }}</li>
        <li>{{ jam.roster.home_blockers.2  }}</li>
        {% if jam.roster.home_blockers.3 %}
            <li>{{ jam.roster.home_blockers.3 }}</li>
        {% endif %}
    {% endif %}
</ul>