{% load players_by_jam %}

<p class="text-center" id="jam_number">Awaiting video connection...</p>
<div id = "jam_carousel" class="carousel slide" data-ride="carousel"
     data-interval="false">
<div id="JamXStats">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                </div>
                {% for jam in jams_list %}
                <div class="item">
                    <div class = "row">
                        <div class = "col-xs-4">
                        <h3 class="text-center">HOME</h3>
                        {% include "video_player/jam_roster_pane.html" with team="home" %}
                        </div>
                        <div class = "col-xs-4">
                        {% include "video_player/jam_scores.html" %}
                        </div>
                        <div class = "col-xs-4">
                        <h3 class="text-center">AWAY</h3>
                        {% include "video_player/jam_roster_pane.html" with team="away" %}
                        </div>
                    </div>
                    {% comment %}
                    {% players_by_jam jam.id header_properties="hidden" %}
                    {% endcomment %}
                </div>
                {% endfor %}
            </div>
</div>